*{
    background-color: rgb(189, 243, 245);
}
.content{
    height: 100px;
    width: 200px;
    color: aquamarine;
    transition: width 15s;
    background-color: coral;
}
.content:hover{
    color: chartreuse;
    background-color:rgb(245, 174, 223);
    width: 100px;
    height: 200px;
}
   
.head2{
    color:aliceblue;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
    animation-name: demo;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
@keyframes demo{
    0%{
        background-color: chartreuse;
    }
    10%{
        background-color: aquamarine;
    }
    20%{
        background-color: blue;
    }
    30%{
        background-color: blueviolet;
    }
    40%{
        background-color: coral;
    }
    50%{
        background-color: crimson;
    }
    60%{
        background-color: darkgoldenrod;
    }
    70%{
        background-color: deeppink;
    }
    80%{
        background-color: antiquewhite;
    }
    90%{
        background-color: dodgerblue;
    }
    100%{
        background-color: khaki;
    }
}
p{
    column-count: 5;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 10;
    column-rule: 10px solid red;
}
.heading-3{
    color: azure;
    background-color: hotpink;
    transform: rotate(20deg);
    border-radius: 40px;
    margin-top: 60px;
    width:max-content;
}
@media screen and (min-width:300px) and (max-width:880px) 
{
p{
    column-count:3;
    font: size 10px;
    font-family: 'Times New Roman', Times, serif;
}    
}
h1{
    background-image: -moz-linear-gradient(red,blue,green,orange,yellow,white);
    font-weight: 200;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}